# ==========================================
# Editors / IDEs
# =========================================

.vscode

# ==========================================
# Temporary / Backup
# ==========================================

*.tmp
*.temp
temp/

# ==========================================
# Databases
# ==========================================

*.db
*.sqlite
*.sqlite3

#===========================================
# Outros
#===========================================

tools
ideias
tests
